    <div class="table-responsive">
        <table  class="table table-dark">
            <tr style="color: yellow;"> <th>Nombre</th> <th>Precio</th> <th>Imagen</th> <th>Id</th> </tr>
            <tbody id="tabla">

            </tbody>
        </table>
    </div>
    
<script src="./js/index.js"></script>